body {
    background-image: url('images/background-transformed.png');
}

.jspsych-content-trial {
    background-color: transparent !important;
}

.larger-img {
    transform: scale(2) !important;
}

#sideways-img-left {
    transform: rotate(-90deg); /* Rotate 90 degrees to the left */
}

#sideways-img-right {
    transform: rotate(90deg); /* Rotate 90 degrees to the left */
}